#main-navbar{
  background-color: blue;
  overflow: hidden;
  float: left;
}

#navbar-container{
  width: 100%;
  position: relative;
}

#onpage{

}

#main-navbar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left:50%;
  float: left;
}

#main-navbar ul li{
 float: left;
 position: relative;
 right: 50%;
 display: block;
}

#main-navbar ul li a{
  display: block;
  color : #fff;
  padding: 10px 20px;
  text-decoration: none;
}

#main-navbar ul li a:hover{
  background-color: #000;
}

#sidebar{
  position: fixed;
  right: 0%;
  background-color: red;
  width: 20%;
  height: 100%;
}

#sidebar-container{
  
}

#onpage{

}

#sidebar ul{
  list-style-type: none;
  text-align: center;
}

#sidebar ul li{
  padding: 0;
}

#sidebar ul li a{
  display: block;
  padding: 15px 0;
  color: #fff;
  text-decoration: none;
}

#sidebar ul li a:hover{
  background-color: #000;
}