#main-navbar ul{
  list-style-type: none;
}

#main-navbar ul li a{
  display: block;
  background-color: blue;
  color : #fff;
  padding: 10px 20px;
  text-decoration: none;
}

#main-navbar ul li a:hover{
  background-color: #800;
}